header {
background-color: #4CAF50;
color: white;
text-align: center;
padding: 20px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
font-family: Arial, sans-serif;
}

header h1 {
margin: 0;
}
body {
    font-family: Bahnschrift, sans-serif ;
    background-color: #f0f0f0;
    text-align: center;
}
nav {
    background-color: darkseagreen;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
     display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav ul li a:hover {
    background-color: #555;
}

.container {
    margin-top: 50px;
    display: flex; /* הצגת האלמנטים ב־flex */
    justify-content: center; /* הצבת הכותרת באמצע */
    flex-direction: column; /* הצגת האלמנטים בקו אחד עמודה */
    align-items: center; /* הצבת האלמנטים במרכז אופקי */
}

.container h2 {
    color: blue; /* צבע כותרת */
    font-size: 24px; /* גודל פונט כותרת */
    margin-bottom: 10px; /* מרווח מתחת לכותרת */
}

.container p {
    color: black; /* צבע טקסט של הפסקה */
    font-size: 16px; /* גודל פונט הפסקה */
    line-height: 1.6; /* מרווח בין שורות בפסקה */
}

.site-footer {
    background-color: #45a049; /* צבע רקע */
    color: white; /* צבע טקסט */
    text-align: center; /* יישור טקסט */
    padding: 0; /* ריווח בפנים */
    margin-top: 200px; /* ריווח מלמעלה */
    font-size: 14px; /* גודל טקסט */
    width: 100%;
}

.site-footer .container {
    width: 100%;
    max-width: 2500px; /* מקסימום רוחב של הכול */
    margin: 0 auto; /* מירכוז הכול */
}

.site-footer a {
    color: cornflowerblue; /* צבע לקישורים */
    text-decoration: none; /* הסרת קו תחתון */
}

.site-footer a:hover {
    text-decoration: underline; /* קו תחתון עבור הובר */
}