/* Page1.css */
header {
background-color: #4CAF50;
color: white;
text-align: center;
padding: 20px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

header h1 {
margin: 0;
}
body {
    font-family: Bahnschrift, sans-serif ;
    background-color: #f0f0f0;
    text-align: center;
}
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #555;
}

.container {
    margin-top: 50px;
}

h2 {
    color: cornflowerblue;
    font-size: 36px;
}

h3 {
    color: green;
    font-size: 36px;
}

/* Page1.css */
.centered-image {
    display: block;
    margin: 20px auto; /* Center the image horizontally */
    max-width: 40%; /* Ensure the image doesn't exceed its container */
}

.button-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    flex-direction: column; /* Arrange buttons vertically */
    margin-top: 20px; /* Add margin to move the buttons down */
}

.left-button,
.right-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    cursor: pointer;
    border-radius: 100px;
    margin-top: 20px;
}
.site-footer {
    background-color: #45a049; /* צבע רקע */
    color: white; /* צבע טקסט */
    text-align: center; /* יישור טקסט */
    padding: 0; /* ריווח בפנים */
    margin-top: 200px; /* ריווח מלמעלה */
    font-size: 14px; /* גודל טקסט */
    width: 100%;
}

.site-footer .container {
    width: 100%;
    max-width: 2500px; /* מקסימום רוחב של הכול */
    margin: 0 auto; /* מירכוז הכול */
}

.site-footer a {
    color: cornflowerblue; /* צבע לקישורים */
    text-decoration: none; /* הסרת קו תחתון */
}

.site-footer a:hover {
    text-decoration: underline; /* קו תחתון עבור הובר */
}
